.header__lang-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-style: normal;
    line-height: 28px;
    padding: 0;
    text-align: right;
    transition: opacity .3s;
}
.header__lang-link:hover {
  opacity: .8;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
