.footer__link {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;
  margin-right: 18px;
  transition: opacity .3s;
}

.footer__link:last-of-type {
  margin: 0;
}

.footer__link:hover {
  opacity: .8;
}

@media screen and (max-width: 719px) {
  .footer__link {
    line-height: 1;
    font-size: 24px;
    align-self: start;
    margin: 0 0 32px;
  }
}
